<div class="well hoverwell thumbnail">
  <h2>{{event.name}}</h2>
  <div>Date: {{event.date}}</div>
  <div>Time: {{event.time}}</div>
  <div>Price: ${{event.price}}</div>
  <div [ngSwitch]="!event?.time">
    <p *ngSwitchCase="'10:00 am'">
      it's 10am!
    </p>
    <p *ngSwitchCase="'9:00 am'">It's 9am! </p>
    <p *ngSwitchDefault>What time is it?
    </p>

  </div>
  <div>
    <span>Location: {{event.location.address}}</span>
    <span class="pad-left">{{event.location.city}}, {{event.location.country}}</span>
    <div *ngIf="event?.OnlineURL">
      OnlineURL: {{event.OnlineURL}}
    </div>
  </div>
</div>
