<div class="well hoverwell thumbnail">
  <h2>{{event.name}}</h2>
  <div>Date: {{event.date}}</div>
  <div [ngSwitch]="!event?.time">Time: {{event.time}}
    <p *ngSwitchCase="'10:00 am'">(Late Event)</p>
    <p *ngSwitchCase="'9:00 am'">(Early Event)</p>
    <p *ngSwitchDefault></p>
  </div>
  <div>Price: ${{event.price}}</div>

  <div>
    <span>Location: {{event.location.address}}</span>
    <span class="pad-left">{{event.location.city}}, {{event.location.country}}</span>
    <div *ngIf="event?.OnlineURL">
      OnlineURL: {{event.OnlineURL}}
    </div>
  </div>
</div>
